@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #5fbf5f;
    
}
.logo-text{
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 28px;
}
.logo {
    color: rgb(43, 57, 245);
    list-style-type: none;
    text-decoration: none;
}
.navbar .navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-item  {
    list-style-type: none;
    text-decoration: none;
}
.nav-item {
	margin: 0px 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #1e1e1e;
    transition: all 0.3s;
    padding: 15px 0px;
}

.nav-link:hover {
    cursor: pointer;
    color: white
}

.welcome-msg {
    font-style: italic;
   
}