** {
    box-sizing: border-box;
}
.login-page {
    display: flex;
    background:white;
    width: 30vw;
    height: 60vh;
    margin: 100px auto;
    border: 1px solid gray;
    border-radius: 20px;
    
}

.login-form {
    display: flex;
    width: 20vw;
    height: 55vh;
    flex-direction: column;
    margin: 40px auto;
}

.submit {
    margin: 40px;
    padding:  15px 50px;
    width: 15vw;
    border-radius: 10px;   
    font-size: 18px;
    background-color:green;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    align-self: center;
}

.submit:hover {
    cursor: pointer;
  
}

.label {
    text-align: left;
}


.inputFields {
    margin: 5px 0 15px 0;
    padding: 15px 100px 15px 5px;
    border-radius: 10px;
    font-size: 16px;
}
.error {
    font-size: 14px;
    color: rgb(248, 27, 27);
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.invalid-form {
    font-size: 18px;
    color: rgb(248, 27, 27);
    font-weight: 600;
}

.link{
 color: darkgreen;
 font-weight: 600;
 text-decoration: none;
}


@media screen and (max-width: 600px) {
    .login-page {
        width: 60vw;
        height: 60vh;
    }

    .login-form {
        display: flex;
        width: 50vw;
        height: 60vh;
        flex-direction: column;
        margin: 30px auto;
    }

    .submit {
        width: 40vw;
        margin: 10px;
        padding: 12px;
        margin: 50px 0 0 0;
        align-self: center;
    }
}