.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5fbf5f;
    font-size: 20px;
    margin-top: 170px; 
}

.social-icons {
    display: flex;
}
.icons {
  
}

.social-items {
list-style-type: none;
margin: 0 15px;
}