.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5fbf5f;
    font-size: 20px;
    margin-top: 170px; 
}
 
.social-icons {
    display: flex;
   
}
.icons {
    color: white;
    font-size: 24px;
}
.icons:hover {
    color: rgb(43, 57, 245);
    font-size: 24px;
  
}

.social-items {
list-style-type: none;
color: white;
margin: 0 15px;
}